.card-spotlight {
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #1c293d;
  /* background-color: rgba(14, 23, 43, 0.5); */
  background-color: rgba(30, 41, 59, 0.5);
  padding: 24px;
  padding-bottom: 72px;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .card-spotlight {
    padding-bottom: 24px;
  }
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
